@charset "utf-8";



// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Test colors 1
// $primary: #355c7d;
// $info: #6c5b7b;
// $link: #c06c84;
// $warning: #f67280; 

// Test colors 2
// $primary: #9ad3bc;
// $info: #f3eac2;
// $link: #f5b461;
// $warning: #ec524b; 

// Test colors 3
$primary: #e8e8e8;
$info: #f05454;
$link: #30475e;
$warning: #222831; 
$input-background-color:  #e8e8e8;
$footer-background-color:  #e8e8e8;
$size-1: 5rem;
// $size-7: 0.65rem;
$footer-padding	:1rem 1.5rem 1rem;
// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $warning:$purple;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../../node_modules/bulma/bulma.sass";

.icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 66px;
    width: 50%;
  }
.icons-portfolio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 40px;
}
.hero-body {
  padding:1rem 1.5rem;
}
.section {
  padding:1rem 1.5rem;
}
.marsh{
  width: 5rem;
}
// .interest {
//   max-width: 85px;
// }
// .MuiAppBar-root {
//   padding-right: 700px;
// }
.description{
  height: 400px;
}


.homebody {
	background: linear-gradient(-45deg, #f05454, #30475e,  #e8e8e8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.device-mockup {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
  text-align:center;
}

	.device-mockup > .device {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		width: 100%; height: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-image: url("https://storage.googleapis.com/instapage-user-media/a3de70fe/17215316-0-macbook-gold.png");
	}

		.device-mockup > .device > .screen {
			position: absolute;
			top:    11.0438729%;
			bottom: 14.6747352%;
			left:   13.364486%;
			right:  13.364486%;
			overflow: hidden;
		}

		.device-mockup > .device > .button {
			position: absolute;
			top: 0; left: 0;
			
			overflow: hidden;
			border-radius: 100%;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			cursor: pointer;
		}

/* MacBook 2015 */
.device-mockup.macbook_2015 {
	padding-bottom: 57.50%;
}




.device-mockup.macbook_2015 > .device,
.device-mockup.macbook_2015.gold > .device {
	background-image: url("https://storage.googleapis.com/instapage-user-media/a3de70fe/17215316-0-macbook-gold.png");
}

.device-mockup.macbook_2015 > .device > .screen {
    top: 7.5%; bottom: 10.9%; left: 12.46%; right: 12.56%;
}


.modal-content{
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.playBtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -5%;
  width: 60px;
}

.yt_icon{
  width: 100%;
  opacity: 0.7;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.yt_icon:active, .yt_icon:hover{
  opacity: 1;
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}

// .hero-work{
//   max-width: 400px;
// }